$color-red-1: #ff7875;
$color-red-2: #ff4d4f;
$color-red-3: #f5222d;
$color-red-4: #fa5151;
$color-red-5: #820014;

$color-orange-1: #ffd591;
$color-orange-2: #ffa940;
$color-orange-3: #ffc300;
$color-orange-4: #d46b08;
$color-orange-5: #873800;

$color-blue-1: #91d5ff;
$color-blue-2: #40a9ff;
$color-blue-3: #096dd9;
$color-blue-4: #597ef7;
$color-blue-5: #10aeff;

$color-green-1: #d3f261;
$color-green-2: #7cb305;
$color-green-3: #52c41a;
$color-green-4: #389e0d;
$color-green-5: #07c160;

$color-block-1: #8c8c8c;
$color-block-2: #595959;
$color-block-3: #434343;
$color-block-4: #2e2e2e;
$color-block-5: #1f1f1f;

$color-text: $color-block-4;
$color-primary: $color-green-5;
$color-success: $color-green-5;
$color-info: $color-blue-5;
$color-warning: $color-orange-3;
$color-danger: $color-red-4;
